a {
  &:focus {
    outline: 3px solid rgba(245, 78, 129, 1);
    outline-offset: 2px;
  }
}
.page-content ul {
  list-style: none;
  margin-left: 15px;
}

// Author
.author {
    .author-name {
      font-size: 1.2em;
    }
    .author-bio {
        font-size: 0.9em;
      }
  }

body {
    background-color: #f7f7f7;
}


.nowplaying .now-title {
  padding-top: 10px;
}
.nowplaying .now-date {
    font-size: 0.8em;
    text-align: right;
}

  .blog-card {
    width: 100%;
    position: relative;
    border: 1px solid #dddddd;
    word-wrap: break-word;
    margin: 20px 0;
    padding: 0;
    box-sizing: border-box;

}
.blog-card:hover {
    border-color: #fc5dbd;
}
.blog-card a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration-line: none;

}
.blog-card-thumbnail {
    width: 28%;
}
.blog-card-thumbnail img {
    width: 100%;
    border: none;
}
.blog-card-content {
    width: 70%;
}
.blog-card-title {
    font-size: 1.0em;
    font-weight: bold;
    line-height: 1.6;
    margin: 0 0 10px;
}
.blog-card-excerpt {
    text-align: right;
    font-size: 0.8em;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
    padding-right: 10px;

}

@media only screen and (max-width: 599px) {
  .blog-card a {
      flex-direction: column;
      padding: 15px;
  }
  .blog-card-thumbnail,
  .blog-card-content {
      width: 100%;
  }
  .blog-card-thumbnail {
      margin: 0 0 15px;
  }
}