{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }}
<div class="author">
    {{ with $image }}
    {{ $image := $image.Fill "100x100 webp" }}
    <img class="author-avatar" src="{{ $image.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="{{ .Width }}"
        height="{{ .Height }}" />
    {{ end }}
    <p class="author-bio">{{ .Site.Params.author.name }}</p>
    <p class="author-bio">{{ .Site.Params.author.description }}</p>
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
            <div class="nowplaying">
                <div class="now-title"><i class="fa-solid fa-music"></i> Now Playing</div>
                {{ with index .Site.Data.music 0 }}
                {{ .title }}<br />
                <div class="now-date">{{ .pubDate }}</div>
                {{ end }}
            </div>
</div>
